article, aside, footer, header, main, nav, section {
  display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

#container-wrapper2{  
background: url(../Images/body-bg.jpg) repeat-y top;
margin: auto; 

}
#container-wrapper{
  background: url(../Images/bg-site.jpg) no-repeat bottom center fixed;
  margin: auto;
}                                                            
#container {
  margin: 0 auto;
  width:917px;
  padding:  0 0 40px 0;
  text-align:right;
}

.banner {
  background-color: white;
  color: black;
  padding: 10px 20px;
}

.pics {  
    display: table-cell; 
    height:  232px;  
    width:   232px;  
    padding: 6px;  
    margin:  0;  
} 
 
.pics img {  
    padding: 15px;  
    border:  1px solid #ccc;  
    background-color: #eee;  
    width: auto;
    height: 232px; 
    top:  0; 
    left: 0 
} 

body {
	margin:0px 0 0 0;
	padding:0px 0 0 0;
	text-align:center;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
    direction:rtl;
 } 

nav {
  background-color: #99CC53;
  padding: 5px;
  margin-top: 1px;
}

li a {
  color: black;
}

li {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
        height:370px;
	}

article {
    background-color: white;
    float: right;
    width: 70%;
    background-color: white;
}

aside {
    display: table-cell;
    float: right;
    width: 25%;
    padding-right:15px;
}

section {
  background-color: white;
  padding: 5px;
}

#content {
	display: table;
}

main {
  width: 917px;
  float: left;
  margin-bottom: 10px;
}

footer {
        clear: both;
        width: 917px;
        text-align: left;
        height: 100px;
        padding: 5px 0px;
    }


/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.Exstra{
    display:none;
}

th{
    text-align:right;
}
.col-md-2{
    float:right;
}
