@{
    ViewBag.Title = "About";
}

<h2>אודות</h2>


<img src="~/Images/zooking_logo-300x300.png" style="width:267px;height:267px;">

<p>גן החיות ZOOKING הינו גן חיות מגניב ביותר!</p>
<p>בגן החיות שלנו תוכלו למצוא סוס וסוס ים (ניתן להסתכל ב'חיות')</p>
<p>יש לנו גן ילדים עם מתקנים בו הילדים יוכלו לשחק (תמונה מופיעה ב'אזורים')</p>
<br />
<br />
<br />
<p>אנחנו נמצאים באיבוד, ניתן למצוא אותנו בwaze - פשוט חפשו ZooKing :)</p>
<br />
<br />
<p>נשמח לראות אתכם! הזמנת כרטיסים דרך עמוד '
    '</p>