@{
    ViewBag.Title = "Costs";
}

<h2>מחירון</h2>

<table class="table">
    <tr>
        <td>
            סוג כרטיס
        </td>
        <td>
            עלות
        </td>
    </tr>
    <tr>
        <td>
            מבוגר
        </td>
        <td>
            50
        </td>
    </tr>
    <tr>
        <td>
            ילד
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            סטודנט
        </td>
        <td>
            30
        </td>
    </tr>
    <tr>
        <td>
            חייל\שוטר
        </td>
        <td>
            20
        </td>
    </tr>
</table>

<p>הנחות לקבוצות מעל 30 - פרטים נוספים בקופה</p>
