@{
    ViewBag.Title = "ContactUs";
}

<h2>צור קשר</h2>

<form>
    להזמנת כרטיסים ובירורים נוספים השאירו לנו הודעה ונחזור אליכם בהקדם: 
    <br>
    <textarea cols="40" rows="10" ></textarea>
    <br>
    <input type="submit" value="שלח" onclick="myFunction()">
</form>
<br><br>
<p>ניתן ליצור קשר גם במספר 03-9999999</p>


<script>
function myFunction() {
    alert("בקשתך נקלטה במערכת ותטופל בהקדם");
}
</script>